* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #e3f9ff;
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 40px;
    background-color: #3a3352;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 100px;
}

h2 {
    margin-bottom: 20px;
    color: #fff;
}

.form-group {
    width: 100%;
    margin-bottom: 15px;
}

input[type="number"],
input[type="button"] {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 10px;
    font-size: 16px;
}

input[type="number"] {
    background-color: #fff;
}

.calculate-button {
    background-color: #33ffd8;
    border: none;
    color: #3a3352;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.calculate-button:hover {
    background-color: #29b8a0; /* Darker shade on hover */
}

.result {
    margin-top: 15px;
    font-size: 18px;
    color: #fff;
    text-align: center;
}
